@import 'vars'

.project
    width: 70vw
    border-bottom: 1px solid $border
    padding: 20px

    &:last-of-type
        border-bottom: none

    .title-container
        display: flex
        align-items: center

        h2
            margin-right: auto

        a
            text-decoration: none
            color: black
            margin-left: 10px

    .tag-container
        display: flex

        .tag
            padding: 3px 10px
            background: $border
            border-radius: 20px
            color: white
            margin-right: 10px
