@import 'vars'

.project
    height: calc(100% - 100px)
    width: 100%
    position: absolute
    top: 0
    display: flex
    flex-direction: column
    margin-top: 100px

    .img-container
        flex: 4
        width: 100%
        display: flex
        align-items: center
        justify-content: center

        .display-img
            max-height: 50%
            max-width: 75%
            object-fit: cover
            border-radius: 5px
            cursor: pointer
            position: absolute

    .menu
        flex: 1
        padding: 40px 20px
        background-color: rgba(15, 25, 34, 0.5)
        backdrop-filter: blur(4px)
        -webkit-backdrop-filter: blur(4px)
        display: flex
        align-items: center
        @include fill-avaliable

        >span.material-icons
            font-size: 64px

        .text-container
            margin: 0 20px
            flex: 1
            height: 100%
            display: flex
            flex-direction: column

            .title-container
                display: flex
                align-items: center

                p
                    font-size: 24px
                    margin: 0 auto 0 0

                a
                    text-decoration: none
                    color: black
                    margin-left: 10px
                    filter: invert(100%)

            .description
                overflow-y: scroll

            .tag-container
                display: flex
                margin-top: auto

                .tag
                    padding: 3px 10px
                    background: $border
                    border-radius: 20px
                    color: white
                    margin-right: 10px

        @media screen and (max-width: $mobile-width)
            padding: 20px 10px

            >span.material-icons
                font-size: $large

            .text-container .tag-container
                display: none
